{% extends "base.html" %}

{% block title %}Fast Kargo - Ana Sayfa{% endblock %}

{% block content %}
<div class="row mb-5">
    <div class="col-md-7 d-flex flex-column justify-content-center">
        <h1 class="fw-bold display-5">Türkiye’nin En Hızlı Kargo Servisi</h1>
        <a href="{% url 'cargo_create' %}" class="btn btn-warning btn-lg fw-bold mt-3 px-4">
            Gönderi Oluştur
        </a>
    </div>

    <div class="col-md-5">
        <div class="card-pro shadow-sm p-4">
            <h4 class="fw-bold">📦 Kargo Takip</h4>
            <p class="text-muted">Takip numaranızı girerek gönderinizi izleyin.</p>

            <div class="input-group mt-3">
                <input type="text" id="takip_no_input" class="form-control form-control-lg" placeholder="Örn: FKCEBE6F715">
                <button class="btn btn-warning fw-bold" type="button" onclick="takipEt()">Takip Et</button>
            </div>
        </div>
    </div>
</div>

<div class="card-pro mb-4 p-4">
    <h3 class="fw-bold mb-3">🆘 Destek Talebi Oluştur</h3>
    <p class="text-muted fs-6">
        Kargonuzla ilgili bir probleminiz mi var? Destek ekibimiz 7/24 size yardımcı olur.
    </p>
    <a href="#" class="btn btn-warning fw-bold btn-lg mt-2">
        Destek Talebi Aç
    </a>
</div>

<script>
    function takipEt() {
        var takipNo = document.getElementById('takip_no_input').value.trim();
        if (takipNo) {
           
           
            window.location.href = "/kargolar/" + takipNo + "/";
        } else {
            alert("Lütfen bir takip numarası giriniz.");
        }
    }
</script>
{% endblock %}